node_modules/
.parcel-cache/
frontend/dist/
.venv/
.pytest_cache/
__pycache__/
cov.xml
.coverage
.venv/
.DS_Store
*.egg-info
/docs/build/
/build/
/dist/
.vagrant
/node_modules/
/celery.db
/.mypy_cache
frontend/dist/
frontend/.output/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.production
.coverage*
